<div class="container">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand text-center" href="#">Listado de facturas</a>
    </div>
  </nav>
  <br>
  <div class="container-fluid">
    <div class="table-responsive">

      <table class="table table-bordered">

        <thead>
          <tr>
            <th scope="col" colspan="13" class="text-center">Tabla de Facturas</th>
          </tr>
          <tr>
            <th scope="col">Nit</th>
            <th scope="col">Nombre</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Correo</th>
            <th scope="col">Bill Code</th>
            <th scope="col">TotalFactura</th>
            <th scope="col">SubTotal</th>
            <th scope="col">Iva</th>
            <th scope="col">Retención</th>
            <th scope="col">Fecha Creación</th>
            <th scope="col">Estado</th>
            <th scope="col">Pagada</th>
            <th scope="col">Fecha pago</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let client of datatable; let i = index">
            <ng-container *ngFor="let bill of client.bills; let last = last">
              <tr [style.border-bottom]="!last && i !== datatable.length - 1 ? '1px solid #ddd' : 'none'">
                <td>{{ client.nit }}</td>
                <td>{{ client.nombre }}</td>
                <td>{{ client.ciudad }}</td>
                <td>{{ client.correo }}</td>
                <td class="text-wrap text-end">{{ bill.billCode }}</td>
                <td>{{ bill.billTotal }}</td>
                <td>{{ bill.billSubTotal }}</td>
                <td>{{ bill.billIva }}</td>
                <td>{{ bill.billRetention }}</td>
                <td>{{ bill.billDate | date: 'MM/dd/yyyy HH:mm:ss' }}</td>
                <td>{{ bill.billStatus }}</td>
                <td class="text-wrap">{{ bill.billpay }}</td>
                <td>{{ bill.billPaymentDate == null ? 'N/A' : bill.billPaymentDate }}</td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>
